<h1>Contact</h1>
<h2><%= "Last Name: #{@contact.last_name}" %></h2>
<h2><%= "First Name: #{@contact.first_name}" %></h2>
<h3><%= "Address: #{@contact.address}" %></h3>
<h3><%= "Company: #{@contact.company}" %></h3>
<h3><%= "Phone: #{@contact.phone}" %></h3>
<h3><%= "Email: #{@contact.email}" %></h3>
<h3><%= "Notes: #{@contact.notes}" %></h3>
<%= link_to 'Back', contacts_path %>
